.transactionHistory {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid grey;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 12px 12px 5px 0px rgba(106, 124, 139, 0.58);
}

table {
  border-collapse: collapse;
  border: 1px solid grey;
  margin-bottom: 40px;
}

th {
  border: 2px solid grey;
  background-color: #2559a1;
  font-size: 30px;
  color: aliceblue;
}

td {
  border: 0.2px solid grey;
  height: 40px;
  border-right: 2px solid grey;
  font-size: 20px;
}

table {
  width: 600px;
}
th {
  width: 20%;
  height: 50px;
}

tbody:nth-child(odd) {
  background-color: #75a1d4;
}
